.App {
  text-align: center;
}

.Label {
  color: #747474;
}

.Value {
  color: black;
  font-size: 14pt;
  font-weight: bold;
}

.List {
  list-style: none;
}

.List-Item {
  margin-bottom: 30px;
}

.Value--win {
  color: green;
}

.Value--lose {
  color: red;
}